@import '../../styles/colors';

.Panel {
  display: block;
  width: fit-content;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid $main-border;
  // box-shadow: 0 0 14px 0px #bda1a1;
  border-radius: 5px;
  text-align: center;
}
